.idea/
.venv/
panda/__pycache__/
website/__pycache__/
media/*
mydata.json
website/migrations/0008_auto_20170416_0109.py
.db.sqlite3.swp
*.pyc
__pychache__/*
static/admin
static/ckeditor
restart.sh
makemigrations.sh
shell.sh
db.sqlite3
backup.sh
backuptask.py
get_new_database.sh
