<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="tags for website">
    <meta name="description" content="This is the All page">
    <meta name="author" content="">
    
    <title> Home - All </title>
    
    <!-- injector:css -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/design.min.css' %}">
    <!-- endinjector -->

    <!-- injector:js -->
    <script src="{% static 'js/min/assets/jquery.min.js' %}"></script>
    <script src="{% static 'js/min/assets/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/min/assets/owl.min.js' %}"></script>
    <script src="{% static 'js/min/app.min.js' %}"></script>
    <!-- endinjector -->

</head>
<body data-spy="scroll" data-target="#nav-menu">

<header class="header hide">
    <nav class="navbar navbar-project nm-b nb">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-logo center-block" href="index.html">
                    <img src="{% static 'img/logo.png' %}" class="img-responsive">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nb" id="bs-example-navbar-collapse-1">
                <div id="nav-menu">
                    <ul class="nav nav-menu index-menu navbar-nav navbar-right nm-t font-roboto-b">
                        <li class="active"><a href="#body">Ana Sahife</a></li>
                        <li><a href="#about">Haqqimizda</a></li>
                        <li><a href="#programs">Programlar</a></li>
                        <li><a href="#events">Tedbirler</a></li>
                        <li><a href="#news">Xeberler</a></li>
                        <li><a href="#multimedia">Multimedia</a></li>
                        <li><a href="#kolektiv">Kolektiv</a></li>
                        <li><a href="#contact">Elaqe</a></li>
                    </ul>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<header class="header ">
    <nav class="navbar navbar-project nm-b nb">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-logo center-block" href="index.html">
                    <img src="{% static 'img/logo.png' %}" class="img-responsive">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nb" id="bs-example-navbar-collapse-2">
                <ul class="nav nav-menu navbar-nav navbar-right nm-t font-roboto-b">
                    <li><a href="index.html">Ana Sahife</a></li>
                    <li><a href="about.html">Haqqimizda</a></li>
                    <li><a href="all.html">Programlar</a></li>
                    <li><a href="all.html">Tedbirler</a></li>
                    <li><a href="all.html">Xeberler</a></li>
                    <li><a href="all.html">Multimedia</a></li>
                    <li><a href="all.html">Kolektiv</a></li>
                    <li><a href="contact.html">Elaqe</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>

<section class="section-all">
    <div class="container">
       <div class="row">
           <div class="col-md-3 col-sm-6">
               <div class="thumbnail thumbnail-project programs">
                   <a class="center-block text-none" href="#">
                       <img src="{% static 'content/program1.jpg' %}">
                       <div class="caption">
                           <p class="time font-roboto-l-i"><time><i class="fa fa-calendar"></i> June 3, 2016</time></p>
                           <h4 class="title font-roboto-bl">Arts Programs</h4>
                           <p class="desc font-roboto-r">
                               In our kids' painting classes,
                               we guarantee the best personalized instruction
                               and one-on-one guidance for every single child who
                               walks through our door.
                           </p>
                       </div>
                   </a>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="thumbnail thumbnail-project programs">
                   <a class="center-block text-none" href="#">
                       <img src="{% static 'content/program1.jpg' %}">
                       <div class="caption">
                           <p class="time font-roboto-l-i"><time><i class="fa fa-calendar"></i> June 3, 2016</time></p>
                           <h4 class="title font-roboto-bl">Arts Programs</h4>
                           <p class="desc font-roboto-r">
                               In our kids' painting classes,
                               we guarantee the best personalized instruction
                               and one-on-one guidance for every single child who
                               walks through our door.
                           </p>
                       </div>
                   </a>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="thumbnail thumbnail-project programs">
                   <a class="center-block text-none" href="#">
                       <img src="{% static 'content/program1.jpg' %}">
                       <div class="caption">
                           <p class="time font-roboto-l-i"><time><i class="fa fa-calendar"></i> June 3, 2016</time></p>
                           <h4 class="title font-roboto-bl">Arts Programs</h4>
                           <p class="desc font-roboto-r">
                               In our kids' painting classes,
                               we guarantee the best personalized instruction
                               and one-on-one guidance for every single child who
                               walks through our door.
                           </p>
                       </div>
                   </a>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="thumbnail thumbnail-project programs">
                   <a class="center-block text-none" href="#">
                       <img src="{% static 'content/program1.jpg' %}">
                       <div class="caption">
                           <p class="time font-roboto-l-i"><time><i class="fa fa-calendar"></i> June 3, 2016</time></p>
                           <h4 class="title font-roboto-bl">Arts Programs</h4>
                           <p class="desc font-roboto-r">
                               In our kids' painting classes,
                               we guarantee the best personalized instruction
                               and one-on-one guidance for every single child who
                               walks through our door.
                           </p>
                       </div>
                   </a>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="thumbnail thumbnail-project programs">
                   <a class="center-block text-none" href="#">
                       <img src="{% static 'content/program1.jpg' %}">
                       <div class="caption">
                           <p class="time font-roboto-l-i"><time><i class="fa fa-calendar"></i> June 3, 2016</time></p>
                           <h4 class="title font-roboto-bl">Arts Programs</h4>
                           <p class="desc font-roboto-r">
                               In our kids' painting classes,
                               we guarantee the best personalized instruction
                               and one-on-one guidance for every single child who
                               walks through our door.
                           </p>
                       </div>
                   </a>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="thumbnail thumbnail-project programs">
                   <a class="center-block text-none" href="#">
                       <img src="{% static 'content/program1.jpg' %}">
                       <div class="caption">
                           <p class="time font-roboto-l-i"><time><i class="fa fa-calendar"></i> June 3, 2016</time></p>
                           <h4 class="title font-roboto-bl">Arts Programs</h4>
                           <p class="desc font-roboto-r">
                               In our kids' painting classes,
                               we guarantee the best personalized instruction
                               and one-on-one guidance for every single child who
                               walks through our door.
                           </p>
                       </div>
                   </a>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="thumbnail thumbnail-project programs">
                   <a class="center-block text-none" href="#">
                       <img src="{% static 'content/program1.jpg' %}">
                       <div class="caption">
                           <p class="time font-roboto-l-i"><time><i class="fa fa-calendar"></i> June 3, 2016</time></p>
                           <h4 class="title font-roboto-bl">Arts Programs</h4>
                           <p class="desc font-roboto-r">
                               In our kids' painting classes,
                               we guarantee the best personalized instruction
                               and one-on-one guidance for every single child who
                               walks through our door.
                           </p>
                       </div>
                   </a>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="thumbnail thumbnail-project programs">
                   <a class="center-block text-none" href="#">
                       <img src="{% static 'content/program1.jpg' %}">
                       <div class="caption">
                           <p class="time font-roboto-l-i"><time><i class="fa fa-calendar"></i> June 3, 2016</time></p>
                           <h4 class="title font-roboto-bl">Arts Programs</h4>
                           <p class="desc font-roboto-r">
                               In our kids' painting classes,
                               we guarantee the best personalized instruction
                               and one-on-one guidance for every single child who
                               walks through our door.
                           </p>
                       </div>
                   </a>
               </div>
           </div>
       </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="footer-block">
            <img src="{% static 'img/logo.png' %}" class="img-responsive center-block">
            <ul class="nav nav-social">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="youtube" href="#"><i class="fa fa-youtube-square"></i></a></li>
                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
<script src="//localhost:35729/livereload.js"></script>
</body>
</html>