<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="tags for website">
    <meta name="description" content="This is the home page.">
    <meta name="author" content="">

    <link rel="shortcut icon" href="{% static 'favicon_small.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon_small.ico' %}" type="image/x-icon">
    <title> PandaSchool - Tezliklə </title>

    <!-- injector:css -->
    <link rel="stylesheet" href="{% static 'css/desing-comingsoon.min.css' %}">
    <!-- endinjector -->

    <!-- injector:js -->
    <script src="{% static 'js/min/assets/jquery.min.js' %}"></script>
    <script src="{% static 'js/min/assets/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/min/assets/vide.min.js' %}"></script>
    <script src="{% static 'js/min/app-coming-soon.js' %}"></script>
    <!-- endinjector -->
</head>
<body>
<section class="section-underconstruction">
    <div id="videoblock" style="width: 100%; height: 100%"></div>
    <div class="jumbotron jumbotron-underconstruction text-center text-white text-uppercase  nr bg-trns center-block">
        <p class="jumbotron-desc font-p-n-b"><span>Bizim Saytımız</span></p>
        <h1 class="jumbotron-title font-intro-i nm-t">Tezliklə Burada</h1>
        <ul class="nav nav-social-list text-center center-block">
            <li><a href="https://www.facebook.com/Panda.Bagcasi/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.facebook.com/Panda.Bagcasi/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/Panda.Bagcasi/"><i class="fa fa-google-plus"></i></a></li>
        </ul>
    </div>
</section>
</body>
</html>
